@charset "UTF-8";

:root{
	--base-text-color: #666;
}

*{
	margin: 0;
	padding: 0;
	}

html{font-size: 20px;}


body{
	font-family: "maven-pro", "Noto Sans KR", sans-serif;
	font-size: .7rem;
	font-weight: 400;
	color : var(--base-text-color);
	
}
.d-none{
	display: none;
}